@import url("../styles/main.css");

/* ================== SECTION ================== */
.faq {
  padding: 6rem 8%;
  color: var(--9);
}

/* ================== HEADER ================== */
.faq-header {
  text-align: center;
  margin-bottom: 4rem;
}

.faq-header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--9);
}

.faq-header p {
  max-width: 700px;
  margin: 1.5rem auto 0;
  color: var(--5);
}

/* ================== CONTAINER ================== */
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* ================== ITEM ================== */
.faq-item {
  background: var(--2);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s ease;
}

/* hover */
.faq-item:hover {
  filter: brightness(1.05);
}

/* ativo */
.faq-item.ativo {
  background: linear-gradient(90deg, var(--2), var(--3));
}

/* ================== PERGUNTA ================== */
.faq-pergunta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
}

.faq-pergunta span:first-child {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--6);
}

/* ================== SETA ================== */
.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--6);
  transition: transform 0.35s ease;
}

.faq-item.ativo .seta {
  transform: rotate(180deg);
}


/* ================== RESPOSTA ================== */
.faq-resposta {
  background: var(--8);
  padding: 1.5rem 2rem;
  animation: abrir 0.4s ease;
}

.faq-resposta p {
  color: var(--9);
  line-height: 1.6;
  font-weight: 600;
}

/* ================== ANIMAÇÃO ================== */
@keyframes abrir {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ================== RESPONSIVO ================== */
@media (max-width: 768px) {
  .faq-header h1 {
    font-size: 2.4rem;
  }

  .faq-pergunta span:first-child {
    font-size: 1.05rem;
  }
}
