@import url("../styles/main.css");
@import url("../styles/text-buttons.css");
/* ================= FOOTER ================= */

.footer {
    background: var(--Azul-Escuro);
    color: #FFF;
    text-align: center;
    padding: 90px;
}
.footer-inner a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}