@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body {
  
  background-color: var(--alto-100);
}

:root {

    /* Cores ---------------------- */
    
    --Primaria: #3B82F6;
    --Primária-ClaraHover: #60A5FA;
    --Azul-Escuro: #1E3A8A;
    --Fundo-Claro: #F8FAFC;
    --Texto-Secundário: #E2E8F0;
    --Feedback: #22C55E;
    --Erro-AvisoAlertas: #EF4444;
    --Black: #1F1F1F;
    --alto-100: #d2d2d2;

    --hunter-green-100: #182514;
    --green-kelp-100: #31462a;
    --deep-cerulean-100: #4C6A42;
    --azure-radiance-100: #69905C;
    --olivine-100: #87b877;
    --periwinkle-100: #A7E293;
    --feta-100: #ddf8d6;
    --lime-light-100: #e7ffe0;

    --walnut-100: #6d4217;
    --paarl-100: #9c6125;
    --brandy-punch-100: #ce8134;
    --dairy-cream-100: #fbdac8;

    --clinker-100: #39150b;
    --metallic-copper-100: #692d1b;
    --paarl-100: #9d472d;
    --apricot-100: #ef917d;
    --mandys-pink-100: #f5c6bf;

    --green-pea-100: #1c5841;
    --sea-green-100: #2c7e5f;
    --ocean-green-100: #3ca77e;
    --shamrock-100: #4ed19f;
    --aquamarine-100: #77fbc5;

    --mine-shaft-100: #212121;
    --mine-shaft01-100: #404040;
    --dove-gray-100: #656565;
    --gray-100: #868686;
    --silver-chalice-100: #ababab;
    
    --alabaster-100: #f7f7f7;
    --grayish-white-100: #ebebeb;

    /* Tamanhos ----------------- */

    --spacing-xl: 60px;
    --spacing-lg: 40px;
    --spacing-md: 30px;
    --spacing-sm: 20px;
    --spacing-xs: 10px;
    --border-radius-lg: 20px;
    --border-radius-md: 10px;
    --border-radius-sm: 5px
}

a{
    text-decoration: none;
}