@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

:root {

  /* Cores Light---------------------- */

  --1: #3B82F6;   /* borda de plano recomendavel */
  --2: #60A5FA;   /*  linear comeco*/
  --3: #1E3A8A;   /* linear final */
  --4: #1D4157;   /* cards preto */
  --5: #475569;   /* subtittles */
  --6: #E2E8F0;   /* branco */
  --7: #D6F0FF;   /* fundo */
  --8: #C4E9FF;   /* cards */
  --9: #0A1922;   /* preto */
}

/* =========================
   DARK MODE MUDAAARRR
========================= */
body.dark {

  --1: #3B82F6;   /* borda de plano recomendavel */
  --2: #60A5FA;   /*  linear comeco*/
  --3: #c1c8db;   /* linear final */
  --4: #4393c5;   /* cards preto */
  --5: #8dacd8;   /* subtittles */
  --6: #0A1922;   /* branco */
  --7: #0A1922;   /* fundo */
  --8: #193d53;   /* cards */
  --9: #E2E8F0;   /* preto */
}

/* =========================
   APLICAÇÃO GLOBAL
========================= */
body {
  background-color: var(--7);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.layout{
  padding-inline: 8vw;
}


a {
  text-decoration: none;
}


html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* =========================  TITTLES   ========================= */
.tittle {}

.subtittle {}

/* =========================  BUTTONS   ========================= */
.button1 {
  border: none;
  padding: 0.5vw 0.8vw ;
  color: var(--6);
  font-size: x-large;
  font-weight: 700;

  outline: none;
  background: linear-gradient(90deg, #60A5FA 0%, #1E3A8A 100%);
  border-radius: 9px;

}

/* button fale comigo */

/* Fale Comigo */




.borda-button-2 {
  width: max-content;
  padding: 2px;
  border-radius: 10px;

  background: linear-gradient(90deg, #3B82F6 0%, #1E3A8A 100%);
  filter: drop-shadow(0 4px 13.5px #60A5FA);
}
.button-2{
  background:var(--7);
  border-radius: 8px;
}
.button2 {
  border: none;
  padding: 0.3vw 0.5vw;
  background-color: transparent; /* INTERIOR TRANSPARENTE */
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  /* TEXTO EM GRADIENTE */
  background: linear-gradient(90deg, #3B82F6 0%, #1E3A8A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Rectangle 1 */
