@import url("../styles/main.css");


/* ================= SECTION 1 ================= */
.section1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 9rem 10%;
    overflow: hidden;
}
/* Overlay escuro */
.section1::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
}
/* Conteúdo acima do overlay */
.section1 > * {
    position: relative;
    z-index: 1;
}
/* ---- Texto ---- */
.container-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    max-width: 600px;
    text-align: left;
}
.text{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Título-principal-section1 {
    font-weight: 700;
    font-size: clamp(2.4rem, 4vw, 3.5rem);
    line-height: 120%;
    color: var(--9);
}
.negocio {
    color: var(--1);
}
.Subtítulos-section1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: clamp(0.3rem, 1vw, 1.5rem);
    line-height: 160%;
    color: var(--4);
    max-width: 520px;
}
/* --- Botão ---- */
.buttons-section1{
    justify-content: space-evenly;
    display: flex;
}
/* ---- Imagem ---- */
.container-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideRight 0.8s ease forwards;
}
.container-img img {
    width: min(580px, 90%);
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease;
}
.container-img img:hover {
    transform: scale(1.05) rotate(2deg);
}

