@import url("../styles/main.css");

.tittle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}


.container-cards {
    display: flex;
    gap: 10px;
}

.card-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background: var(--8);
    padding: 3rem 2rem;
}

.icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--6);
  background: linear-gradient(45deg, var(--2) 0%, var(--3));
  border-radius: 50%;
}
