@import url("../../styles/main.css");
@import url("../../styles/text-buttons.css");
@media (max-width: 480px) {
  .checklist-container {
    margin: 0px;
  }

  .checklist-box {
    width: 100%;
    padding: 5px;
  }
}