@import url("../../styles/main.css");
@import url("../../styles/text-buttons.css");

/* ================= HEADER (TABLET) ================= */
@media (min-width: 481px) and (max-width: 1024px) {
  .container-header {
    padding: 10px 20px;
    width: calc(100% - 1rem);
  }

  .container-logo img {
    width: 48px;
  }

  .container-nav nav ul {
    gap: 14px;
  }

  .container-nav li a {
    font-size: 0.95rem;
  }

  .whatsapp-icon {
    font-size: 1.6rem;
  }
}
