@import url("../../styles/main.css");
@import url("../../styles/text-buttons.css");

  @media (min-width: 481px) and (max-width: 1024px) {
 .investimento-conteudo {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .investimento-texto {
    width: 80%;
    text-align: center;
  }

  .investimento-imagem {
    width: 280px;
  }
}
  