@import url("../../styles/main.css");
@import url("../../styles/text-buttons.css");
  @media (min-width: 481px) and (max-width: 1024px) {
 .section1 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .container-text {
    width: 80%;
  }

  .negocio {
    font-size: 42px;
  }
}